<% if (locals.user.role == 'admin') { %>
<%-include ('headeradmin.ejs') %>
<div class="cadre">
    <center>
        <h1>Crée un nouveau Réalisateur</h1>
        <form action="/creareal" method="post" enctype="multipart/form-data">
            <input type="text" name="nom" placeholder="Nom">
            <input type="text" name="prenom" placeholder="Prénom">
            <label for="photo">Photo :</label><br>
            <input type="file" id="photo" name="upload"/><br><br>
            <input type="submit" value="Enregistrer">
        </form>
    </center>
</div>

<div class="cadre">
<h1>Modifier les réalisateurs</h1>
<% real.forEach( (r) => { %>
    <div class="cadre">
        <form action="/modifreal" method="post" enctype="multipart/form-data">
            <p>Réalisateur : <%= r.id_realisateur %></p>
            <input type="hidden" name="idmodif" value="<%= r.id_realisateur %>">
            <p><%= r.nom %></p>
            <input type="text" name="nommodif" value="<%= r.nom %>"><br>
            <p><%= r.prenom %></p>
            <input type="text" name="prenommodif" value="<%= r.prenom %>"><br><br>
            <img src="/uploads/<%= r.photo %>" width="320" height="320"><br><br>
            <label for="photo">Photo :</label><br>
            <input type="file" id="photo" name="upload"/><br><br>
            <input type="submit" name="actionto" value="Modifier"><br><br>
            <input type="submit" name="actionto" value="Supprimer">
        </form>
    </div>
<% }); %>
</div>
<% } else { %>
    <p>Tu n'as rien a faire là !</p>
<% } %>
<%-include ('footer.ejs') %>